{% extends "layout.html" %}

{% block main_content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">{{ post.date }}</small>
                </div>
                <h4><a class="article-title" target="_blank" href={{ post.link }}>{{ post.title }}</a></h4>
                <p class="article-content"><a target="_blank" href={{ post.source.link }}>{{ post.source.source_name }}</a>
                </p>
            </div>
        </article>
    {% endfor %}
{% endblock %}
{% block source_list_content %}
    {% for source in sources %}
        {% if source == current_source %}
            <a href="{{ url_for('posts.source_posts', source_name=source.source_name) }}" class="active list-group-item  list-group-item-action">{{ source.source_name }}</a>
        {% else %}
            <a href="{{ url_for('posts.source_posts', source_name=source.source_name) }}" class="list-group-item  list-group-item-action">{{ source.source_name }}</a>
        {% endif %}
    {% endfor %}
{% endblock %}